#shadow {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#app {
    position: fixed;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 15px;
    border: 3px solid #7582f8fd;
    border-radius: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;

}

#shadow:target {
    display: block;
}

.close {
    position: absolute;
    display: inline-block;
    color: #7582f8fd;
    height: 10%;
    width: 10%;
    top: 2%;
    right: 2%;
    margin: 0;
    text-decoration: transparent;
    font-size: 3vw;
    cursor: pointer;
}

.columnGrid{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.columnGrid > *{
    font-size: 1.5vw;
    margin: 1%;
}

.columnGrid > label{
    margin: 0;
    color: #0000cc;
}
